@model AppUser

@{
    ViewData["Title"] = "Logout";
}

<p class="text-center">
    
    You're now logged out.
    <br/>
    <a asp-action="Index" asp-controller="Home" class="btn btn-link">Return Home</a>

</p>