@{
    ViewData["Title"] = "About Us";
}


<div class="d-flex justify-content-center">
    
    
    <h3> About Us </h3>
    
    
</div>

<section class="service-list">

<p class="custom-text">La <strong>Appointify</strong>, credem că gestionarea programărilor ar trebui să fie simplă, rapidă și fără bătăi de cap.
    <br>
    <p class="custom-text">De aceea, am creat o platformă inteligentă care ajută afacerile și profesioniștii să-și organizeze eficient întâlnirile, economisind timp prețios și oferind o experiență impecabilă clienților. </p>
    <br>
    
        
    <h4>Ce oferim?</h4>

    <ul class="list-unstyled text-center"> 
        <li>✅ Programări online facile și intuitive</li> 
        <li>✅ Notificări automate pentru clienți și furnizori</li>
        <li>✅ Gestionare eficientă a timpului și resurselor</li>
       
    </ul>

    
    
    <p class="custom-text">Indiferent dacă ești medic, hairstylist, consultant sau antrenezi o echipă de profesioniști, Appointify îți oferă soluția perfectă pentru a-ți crește productivitatea și a-ți fideliza clienții.</p>
    <br>
    <p class="closure-text">Alătură-te nouă și transformă modul în care gestionezi programările!</p>
    
        
</p>
</section>