@{
    ViewData["Title"] = "LoginSuccessfully";
}

<div class="text-center">
    
    
    <h3>You have logged in successfully</h3>
    <p class="home-text">
        <a  class="btn btn-secondary" href="/Home/Services">You can now make an appointment.</a>
        
    </p>




</div>